@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base adicionales que quieras aplicar */
body {
  /* Reemplazamos las clases personalizadas con clases estándar de Tailwind */
  @apply bg-slate-900 text-slate-200 antialiased; 
  font-family: 'Inter', sans-serif; /* Asegúrate de importar 'Inter' en tu public/index.html si la usas */
}

/* Estilos para scrollbars personalizadas (opcional, pero mejora la estética en WebKit) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Ancho para scrollbars verticales */
  height: 6px; /* Alto para scrollbars horizontales */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(51, 65, 85, 0.5); /* slate-700 con opacidad */
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8; /* sky-400 */
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9; /* sky-500 */
}